/*
    RESET
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main{
    background-color: khaki;
}

#main-header{
    height: 10vh;
}

.main-left{
    height: 90vh;
    display: inline-block;
    width:10vw;
    background-color: #0E253B;
}

.main-right{
   
    display: inline-block;
    color: white;
    width: 90vw;
    height: 90vh;
}

.right-header{
    background-color: #1B72E8;
}
