/*
    RESET
*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --main-header-height: 60px;
}

#main-header{
    height: var(--main-header-height);
}

#main-section{
    height: calc(100vh -var(--main-header-height));
}

main{
    background-color: khaki;
}

.main-left{
    height: 90vh;
    display: inline-block;
    width:10vw;
    background-color: #0E253B;
}

.main-right{
    background-color:darkgreen;
    display: inline-block;
    color: white;
    width: 90vw;
}

.right-header{
    background-color: #1B72E8;
}

